*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.app{
  width: 80%;
  margin: 0 auto;
  
  
}
body{
  background: -webkit-linear-gradient(90deg, #959ffe,#3cc0ff);background: linear-gradient(90deg, #959ffe,#3cc0ff);
}

.pagination{
  background-color: white;
  display: inline-block;
  margin: 0 auto;
}
.pagination-block{
  background-color: white;
  text-align: center;
  margin: 5px 0;
  padding: 5px;
  border-radius: 5px;
}

.spinner-block{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-header-hide{
  transition: 0.3s;
  padding: 20px;
  font-size: 32px;
  border-radius: 5px;
  position: fixed;
  bottom: 5px;
  left: -100px;
}

.back-header-show{
  transition: 0.3s;
  padding: 20px;
  font-size: 32px;
  border-radius: 5px;
  position: fixed;
  bottom: 5px;
  left: 10px;
}

.back-header:hover{
  background-color: gray;
}
